In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("Iris.csv")

In [3]:
data

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [4]:
print(data.columns)

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [5]:
print(data.isnull().sum())

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [20]:
data.loc[10:29, 'PetalLengthCm'] = np.nan

In [24]:
print(data.loc[10:29, 'PetalLengthCm'])

10   NaN
11   NaN
12   NaN
13   NaN
14   NaN
15   NaN
16   NaN
17   NaN
18   NaN
19   NaN
20   NaN
21   NaN
22   NaN
23   NaN
24   NaN
25   NaN
26   NaN
27   NaN
28   NaN
29   NaN
Name: PetalLengthCm, dtype: float64

In [26]:
data['PetalLengthCm'].fillna(1.0, inplace=True)

C:\Users\ELOott\AppData\Local\Temp\ipykernel_7084\345629125.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['PetalLengthCm'].fillna(1.0, inplace=True)

In [28]:
print(data.loc[10:29, 'PetalLengthCm'])

10    1.0
11    1.0
12    1.0
13    1.0
14    1.0
15    1.0
16    1.0
17    1.0
18    1.0
19    1.0
20    1.0
21    1.0
22    1.0
23    1.0
24    1.0
25    1.0
26    1.0
27    1.0
28    1.0
29    1.0
Name: PetalLengthCm, dtype: float64

In [30]:
data.drop('Species', axis=1, inplace=True)

In [32]:
data

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

[150 rows x 5 columns]

In [34]:
data.iloc[0:3] = np.nan

In [36]:
print(data.iloc[0:3])

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0 NaN            NaN           NaN            NaN           NaN
1 NaN            NaN           NaN            NaN           NaN
2 NaN            NaN           NaN            NaN           NaN

In [38]:
data.dropna(inplace=True)

In [40]:
data

        Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
3      4.0            4.6           3.1            1.5           0.2
4      5.0            5.0           3.6            1.4           0.2
5      6.0            5.4           3.9            1.7           0.4
6      7.0            4.6           3.4            1.4           0.3
7      8.0            5.0           3.4            1.5           0.2
..     ...            ...           ...            ...           ...
145  146.0            6.7           3.0            5.2           2.3
146  147.0            6.3           2.5            5.0           1.9
147  148.0            6.5           3.0            5.2           2.0
148  149.0            6.2           3.4            5.4           2.3
149  150.0            5.9           3.0            5.1           1.8

[147 rows x 5 columns]

In [46]:
data.reset_index(drop=True, inplace=True)

In [48]:
data

        Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0      4.0            4.6           3.1            1.5           0.2
1      5.0            5.0           3.6            1.4           0.2
2      6.0            5.4           3.9            1.7           0.4
3      7.0            4.6           3.4            1.4           0.3
4      8.0            5.0           3.4            1.5           0.2
..     ...            ...           ...            ...           ...
142  146.0            6.7           3.0            5.2           2.3
143  147.0            6.3           2.5            5.0           1.9
144  148.0            6.5           3.0            5.2           2.0
145  149.0            6.2           3.4            5.4           2.3
146  150.0            5.9           3.0            5.1           1.8

[147 rows x 5 columns]

mean of SepalWidthCm

In [51]:
print(data['SepalWidthCm'].mean())

3.050340136054422