In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('automation_data_by_state.csv', encoding='latin1')

In [3]:
df

,SOC,Occupation,Probability,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,11-1011,Chief Executives,0.015,1030,760,5750,2710,31150,880,1410,...,560,5460,5890,3650,280,6320,5910,980,3740,160
1,11-1021,General and Operations Managers,0.160,26930,6490,43300,20680,261780,41540,33280,...,3730,44400,168610,36200,2760,52380,43760,10200,32350,4840
2,11-2011,Advertising and Promotions Managers,0.039,50,40,470,110,3760,480,300,...,0,670,1210,380,40,240,640,40,200,0
3,11-2021,Marketing Managers,0.014,530,200,4790,1090,33390,3060,4970,...,60,3400,9570,2320,380,3840,5830,260,2980,30
4,11-2022,Sales Managers,0.013,2510,400,10650,2650,69180,4570,7040,...,300,8890,22310,3360,480,5360,7390,600,5730,180
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
697,53-7072,Pump Operators; Except Wellhead Pumpers,0.900,0,0,0,0,1130,190,0,...,0,130,3780,0,0,0,0,110,80,0
698,53-7073,Wellhead Pumpers,0.840,0,0,0,180,220,600,0,...,0,0,4130,90,0,0,0,550,0,550
699,53-7081,Refuse and Recyclable Material Collectors,0.930,2070,210,1980,1530,13850,1710,910,...,430,2230,7760,710,480,3430,1890,970,2140,230
700,53-7111,Mine Shuttle Car Operators,0.370,50,0,0,0,0,70,0,...,0,0,0,0,0,0,0,510,0,0
701,53-7121,Tank Car; Truck; and Ship Loaders,0.720,600,80,110,50,360,80,0,...,0,190,3250,0,0,180,350,0,190,80

In [4]:
df.head(25)

,SOC,Occupation,Probability,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,11-1011,Chief Executives,0.0150,1030,760,5750,2710,31150,880,1410,...,560,5460,5890,3650,280,6320,5910,980,3740,160
1,11-1021,General and Operations Managers,0.1600,26930,6490,43300,20680,261780,41540,33280,...,3730,44400,168610,36200,2760,52380,43760,10200,32350,4840
2,11-2011,Advertising and Promotions Managers,0.0390,50,40,470,110,3760,480,300,...,0,670,1210,380,40,240,640,40,200,0
3,11-2021,Marketing Managers,0.0140,530,200,4790,1090,33390,3060,4970,...,60,3400,9570,2320,380,3840,5830,260,2980,30
4,11-2022,Sales Managers,0.0130,2510,400,10650,2650,69180,4570,7040,...,300,8890,22310,3360,480,5360,7390,600,5730,180
5,11-2031,Public Relations and Fundraising Managers,0.0150,400,150,1240,300,7010,960,980,...,0,870,3680,380,210,1250,2100,130,1010,0
6,11-3011,Administrative Services Managers,0.7300,640,530,6870,1850,40720,2280,4110,...,340,7550,20440,2120,410,4120,4890,1590,6070,220
7,11-3021,Computer and Information Systems Managers,0.0350,3260,340,6720,2100,51840,6340,7900,...,210,5540,20010,4190,340,13720,11790,720,6400,200
8,11-3031,Financial Managers,0.0690,4990,870,10930,3020,70540,5930,14210,...,610,13690,27670,4860,740,13370,12680,1580,8810,560
9,11-3051,Industrial Production Managers,0.0300,3110,110,2530,1700,19120,1100,2800,...,400,5030,10150,1840,400,2400,2500,700,6720,290
10,11-3061,Purchasing Managers,0.0300,950,130,1780,510,8460,760,1360,...,50,2000,5030,450,150,2480,2010,80,1290,40
11,11-3071,Transportation; Storage; and Distribution Mana...,0.5900,610,550,2320,1290,16300,1170,1160,...,130,4090,9390,1550,130,2030,2190,460,2710,160
12,11-3111,Compensation and Benefits Managers,0.9600,90,0,300,150,1590,190,250,...,0,500,690,170,0,360,380,0,340,0
13,11-3121,Human Resources Managers,0.0055,1320,190,2840,870,16190,1460,2200,...,220,3160,6670,1000,210,3480,3360,320,2700,130
14,11-3131,Training and Development Managers,0.0063,150,80,960,300,3430,340,770,...,0,1140,1570,400,50,950,680,60,620,0
15,11-9013,Farmers; Ranchers; and Other Agricultural Mana...,0.0470,0,0,110,130,1240,0,0,...,0,70,340,0,0,30,130,0,50,0
16,11-9021,Construction Managers,0.0710,3010,960,5800,1590,32590,6580,3050,...,200,4930,26440,2600,520,5270,6950,550,2890,390
17,11-9031,Education Administrators; Preschool and Childc...,0.0150,120,70,760,520,7120,700,810,...,70,750,2350,290,330,1030,1150,170,1050,110
18,11-9032,Education Administrators; Elementary and Secon...,0.0046,3460,620,4640,2390,20120,4650,3890,...,610,5660,24970,1820,890,6620,4790,1720,4750,450
19,11-9033,Education Administrators; Postsecondary,0.0100,2460,180,0,1290,14230,2280,2170,...,230,4460,5120,1080,390,3050,2120,0,3170,120
20,11-9041,Architectural and Engineering Managers,0.0170,2410,370,3320,630,28640,3250,3350,...,110,3350,11240,2120,270,4030,4460,300,3760,180
21,11-9051,Food Service Managers,0.0830,2250,320,4580,1320,35100,2150,1880,...,820,9710,10520,1500,340,4150,2190,1360,5570,450
22,11-9071,Gaming Managers,0.0910,0,0,70,0,510,70,30,...,0,0,0,0,0,0,170,0,50,0
23,11-9081,Lodging Managers,0.0039,520,160,1110,280,4580,630,140,...,210,1140,3110,410,230,1070,870,180,620,280
24,11-9111,Medical and Health Services Managers,0.0073,2960,880,7240,3630,33160,4420,5260,...,750,9460,21840,2640,780,7450,5890,1260,7980,660

In [5]:
df.tail(10)

,SOC,Occupation,Probability,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
692,53-7061,Cleaners of Vehicles and Equipment,0.37,5420,530,7080,3330,49270,6150,3270,...,1220,5690,35180,3780,540,9700,7380,1300,6990,560
693,53-7062,Laborers and Freight; Stock; and Material Move...,0.85,42840,4930,40620,24180,317050,31890,23580,...,7060,96260,178880,18370,2830,49810,55530,12390,52690,3230
694,53-7063,Machine Feeders and Offbearers,0.93,1740,70,720,1750,8170,0,420,...,290,1540,4830,460,0,2510,2120,340,3860,40
695,53-7064,Packers and Packagers; Hand,0.38,7160,910,10390,4830,99540,6850,7270,...,2120,18510,49080,6240,770,13000,18730,1750,19670,1020
696,53-7071,Gas Compressor and Gas Pumping Station Operators,0.91,0,0,0,0,0,130,0,...,0,0,200,90,0,0,0,570,0,130
697,53-7072,Pump Operators; Except Wellhead Pumpers,0.90,0,0,0,0,1130,190,0,...,0,130,3780,0,0,0,0,110,80,0
698,53-7073,Wellhead Pumpers,0.84,0,0,0,180,220,600,0,...,0,0,4130,90,0,0,0,550,0,550
699,53-7081,Refuse and Recyclable Material Collectors,0.93,2070,210,1980,1530,13850,1710,910,...,430,2230,7760,710,480,3430,1890,970,2140,230
700,53-7111,Mine Shuttle Car Operators,0.37,50,0,0,0,0,70,0,...,0,0,0,0,0,0,0,510,0,0
701,53-7121,Tank Car; Truck; and Ship Loaders,0.72,600,80,110,50,360,80,0,...,0,190,3250,0,0,180,350,0,190,80

In [6]:
print(len(df))

702

In [7]:
df.shape[1]

54

In [8]:
df.index

RangeIndex(start=0, stop=702, step=1)

In [9]:
print(df.columns)

Index(['SOC', 'Occupation', 'Probability', 'Alabama', 'Alaska', 'Arizona',
       'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware',
       'District of Columbia', 'Florida', 'Georgia', 'Hawaii', 'Idaho',
       'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
       'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
       'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota',
       'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'],
      dtype='object')

In [10]:
print(df.columns.dtype)

object

In [11]:
print(df['Occupation'])

0                               Chief Executives
1                General and Operations Managers
2            Advertising and Promotions Managers
3                             Marketing Managers
4                                 Sales Managers
                         ...
697      Pump Operators; Except Wellhead Pumpers
698                             Wellhead Pumpers
699    Refuse and Recyclable Material Collectors
700                   Mine Shuttle Car Operators
701            Tank Car; Truck; and Ship Loaders
Name: Occupation, Length: 702, dtype: object

In [12]:
print(df['Occupation'].nunique())

702

In [13]:
most_common_Weight = df['Occupation'].value_counts().idxmax()
count = df['Occupation'].value_counts().max()

print(f"The most frequent Weight(Pounds) is '{most_common_Weight}' with {count} users.")

The most frequent Weight(Pounds) is 'Chief Executives' with 1 users.

In [14]:
df.describe()

,Probability,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
count,702.000000,702.000000,702.000000,702.000000,702.000000,702.00000,702.000000,702.000000,702.000000,702.000000,...,702.000000,702.000000,702.000000,702.000000,702.000000,702.000000,702.000000,702.000000,702.000000,702.000000
mean,0.535550,2453.019943,405.868946,3354.757835,1524.757835,20175.34188,3151.253561,2101.709402,528.589744,854.074074,...,539.216524,3723.176638,15221.111111,1762.948718,376.894587,4659.159544,3883.532764,875.484330,3608.262108,352.849003
std,0.368149,6290.975897,967.683396,8341.431586,3868.163503,45474.24833,7619.361786,4952.798565,1383.173852,2758.991305,...,1334.072775,9555.037122,37271.272805,4420.937442,906.992514,11345.399264,9022.812445,2320.449556,8783.855723,853.766265
min,0.002800,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.110000,112.500000,0.000000,140.000000,60.000000,1455.00000,130.000000,70.000000,0.000000,0.000000,...,0.000000,180.000000,922.500000,90.000000,0.000000,220.000000,260.000000,7.500000,170.000000,0.000000
50%,0.640000,550.000000,80.000000,695.000000,320.000000,4985.00000,700.000000,440.000000,90.000000,60.000000,...,130.000000,810.000000,3760.000000,420.000000,80.000000,1155.000000,975.000000,190.000000,745.000000,80.000000
75%,0.890000,2167.500000,370.000000,2817.500000,1287.500000,18275.00000,2695.000000,1825.000000,430.000000,510.000000,...,487.500000,3035.000000,12290.000000,1527.500000,350.000000,3767.500000,3455.000000,700.000000,3160.000000,290.000000
max,0.990000,72610.000000,10470.000000,90030.000000,37840.000000,440440.00000,83670.000000,51540.000000,17750.000000,31470.000000,...,15500.000000,96260.000000,383080.000000,44480.000000,9700.000000,122290.000000,101850.000000,24630.000000,85100.000000,8580.000000

In [15]:
df.describe(include='all')

,SOC,Occupation,Probability,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
count,702,702,702.000000,702.000000,702.000000,702.000000,702.000000,702.00000,702.000000,702.000000,...,702.000000,702.000000,702.000000,702.000000,702.000000,702.000000,702.000000,702.000000,702.000000,702.000000
unique,702,702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,11-1011,Chief Executives,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,0.535550,2453.019943,405.868946,3354.757835,1524.757835,20175.34188,3151.253561,2101.709402,...,539.216524,3723.176638,15221.111111,1762.948718,376.894587,4659.159544,3883.532764,875.484330,3608.262108,352.849003
std,NaN,NaN,0.368149,6290.975897,967.683396,8341.431586,3868.163503,45474.24833,7619.361786,4952.798565,...,1334.072775,9555.037122,37271.272805,4420.937442,906.992514,11345.399264,9022.812445,2320.449556,8783.855723,853.766265
min,NaN,NaN,0.002800,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,NaN,0.110000,112.500000,0.000000,140.000000,60.000000,1455.00000,130.000000,70.000000,...,0.000000,180.000000,922.500000,90.000000,0.000000,220.000000,260.000000,7.500000,170.000000,0.000000
50%,NaN,NaN,0.640000,550.000000,80.000000,695.000000,320.000000,4985.00000,700.000000,440.000000,...,130.000000,810.000000,3760.000000,420.000000,80.000000,1155.000000,975.000000,190.000000,745.000000,80.000000
75%,NaN,NaN,0.890000,2167.500000,370.000000,2817.500000,1287.500000,18275.00000,2695.000000,1825.000000,...,487.500000,3035.000000,12290.000000,1527.500000,350.000000,3767.500000,3455.000000,700.000000,3160.000000,290.000000
max,NaN,NaN,0.990000,72610.000000,10470.000000,90030.000000,37840.000000,440440.00000,83670.000000,51540.000000,...,15500.000000,96260.000000,383080.000000,44480.000000,9700.000000,122290.000000,101850.000000,24630.000000,85100.000000,8580.000000

In [16]:
print(df['Occupation'].describe())

count                  702
unique                 702
top       Chief Executives
freq                     1
Name: Occupation, dtype: object

In [17]:
print(df['Probability'].mean())

0.5355498575498576

In [18]:
Probability_counts = df['Probability'].value_counts()
least_common_Probability = Probability_counts.idxmin()
least_common_count = Probability_counts.min()

print(f"The least frequent Probability is {least_common_Probability} and it appears {least_common_count} time(s).")

The least frequent Probability is 0.048 and it appears 1 time(s).